.footer {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1), 0 -2px 2px rgba(0, 0, 0, 0.06),
    0 0 2px rgba(0, 0, 0, 0.07);
  margin-top: var(--size-880);
  padding-block: var(--size-725);
}

.footer__nav__main__container {
  display: block;
}
.footer__nav__main__mobile {
  display: block;
}

.footer__nav__main__mobile__toggler__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--size-350);
  margin-bottom: var(--size-350);
  cursor: pointer;
}
.footer__nav__main__mobile__toggler__header {
  font-weight: var(--fw-regular);
  font-size: var(--fs-footer-heading);
  color: rgba(0, 0, 0, 0.87);
}
.footer__nav__main__mobile__toggler__button {
  min-width: 44px;
  min-height: 44px;
  position: relative;
  transition: all 0.2s ease-out;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  color: rgba(0, 0, 0, 0.87);
}
.caret-down {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
  overflow: visible;
  transform-origin: center;
}
.caret-down-hover {
  fill: transparent;
  opacity: 0.1;
  transform: scale(0.4);
  transform-origin: center;
  transition: all 0.2s ease-out;
}
@media (hover: hover) and (pointer: fine) {
  .footer__nav__main__mobile__toggler__button:active .caret-down-hover,
  .footer__nav__main__mobile__toggler__button:hover .caret-down-hover {
    fill: currentColor;
    transform: scale(1);
  }
}

.expander {
  transform-origin: top center;
}

.footer__nav__main__mobile__expander__list {
  display: inline-block;
}

.footer__nav__main__mobile__expander__list__item__link {
  display: block;
  font-size: 14px;
  margin-bottom: var(--size-350);
  padding-block: var(--size-350);
  color: rgba(0, 0, 0, 0.58);
  text-decoration: none;
}

.footer__nav__main__desktop {
  display: none;
}

.seperator {
  padding-block: var(--size-725);
  border: 0;
  margin: 0;
}
.seperator:before {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  content: "";
  display: block;
}
.footer__icon__list {
  display: flex;
  margin-left: -5px;
}
.footer__icon__list__item__link {
  min-width: 44px;
  min-height: 44px;
  position: relative;
  display: inline-block;
  transition: all 0.2s ease-out;
  color: currentColor;
}

.footer__icon__list__item__icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
  overflow: visible;
  transform-origin: center;
}
.footer__last-links-list {
  display: inline-block;
  margin-top: 1.6rem;
}
.footer__last-links-list__item {
  display: list-item;
  align-items: center;
}
.footer__last-links-list__item__link {
  display: block;
  padding-block: var(--size-350);
  margin-bottom: 0.4rem;
  color: var(--clr-black);
  background-color: transparent;
  text-decoration: none;
  font-size: 14px;
}
.footer__last-links-list__item__link__seperator {
  display: none;
  padding-inline: var(--size-350);
  color: rgba(0, 0, 0, 0.58);
}
button.footer__last-links-list__item__link {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
}
.footer__last-text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.58);
  padding-block: var(--size-540);
}
