.hero__mobile-container {
  background-color: var(--clr-bg-light-green);
  background-image: url("../public/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.hero__mobile__text-container {
  padding-inline: var(--padding--inline);
  padding-block: var(--padding-block);
  margin: 0 auto;
  max-width: 400px;
}
.hero__mobile__header {
  font-size: var(--fs-hero-heading);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-black);
  line-height: 1.29;
  text-align: center;
  margin-bottom: var(--size-500);
}
.hero__mobile__excerpt {
  font-size: var(--fs-hero-body);
  font-weight: var(--fw-regular);
  color: var(--clr-black);
  text-align: center;
  margin-bottom: var(--size-650);
}
.hero__mobile__links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero__mobile__link {
  font-size: var(--fs-hero-body);
  text-align: center;
}

.hero__mobile__link--last--link-container {
  margin-top: var(--size-300);
}
.hero__mobile__link--last--link-container .hero__mobile__link {
  color: var(--clr-black);
  text-decoration: underline;
}
