.questions__title {
  font-size: var(--fs-secondary-heading);
  font-weight: var(--fw-semi-bold);
  margin-bottom: var(--size-540);
}
.questions__body__link {
  color: var(--clr-link);
  text-decoration: underline;
}
.external-link {
  fill: var(--clr-link);
  vertical-align: middle;
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 48em) {
  .quesitons__wrapper {
    max-width: 50%;
    margin-inline: auto;
  }
}
